.tableListTasks {
  display: inline-table;
  margin: 100px;
}

.tableListTasks th {
  background-color: rgb(186, 214, 240);
  font-size: 87%;
}
.tableListTasks th, .tableListTasks td {
  padding: .6rem 1rem;
  text-align: left;
}
.tableListTasks td small,  .tableListTasks td strong {
  display: block;
}